nz-card {
    border-color: rgba(0, 0, 0, 0.30) !important;
    border-radius: 10px;
    margin-bottom: 10px;
}

[nz-button] {
    margin-right: 4px;
}

th {
    background-color: #004193 !important;
    color: white !important;
}

