.link-item-title{
  padding-left: 15px;
  font-weight: bold;
  font-size: 1.1em;
  color: gray;
}
ul {
  list-style-type: none;
  display: block;
  margin: 1em 0 1em;
  padding-left: 0;
  li {
    margin-bottom: 0.5em;
  }
}
