<span class="link-item-title">{{title|translate}}</span>
<ul>
  <li *ngFor="let item of data">
    <a href="javascript:void(0);" nz-button nzType="link" nzGhost>
      {{item.label | translate}}
    </a>
  </li>
</ul>
