<div class="cntm-common-register-container">
  <h3>{{ 'COMMONS.CONFIRM.TITLE' | translate }}</h3>
  <h4>{{ 'COMMONS.CONFIRM.SUBTITLE' | translate }}</h4>
<!--  <h4 *ngIf="state1">{{ (state1.username + '@' + state1.domain + '.olympus-cloud.com') | lowercase }}</h4>-->
</div>

<div class="register-confirmation-container">
  <div class="register-confirmation-content">
    <nz-progress [nzPercent]="100" nzType="circle"></nz-progress>
  </div>

</div>
<br>
<button nz-button nzBlock
        nzType="default"
        routerLink="/commons">
  {{'COMMONS.CONFIRM.LOGIN' | translate}}
</button>
