<div class="cntm-common-register-container">
  <h3>{{ 'COMMONS.REGISTER.TITLE' | translate }} </h3>
  <h4>{{ 'COMMONS.REGISTER.SUBTITLE' | translate }}</h4>
  <!-- REGISTER FORM -->
  <form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <!-- Form item 1 username@company.olympus-cloud.com -->
    <nz-form-item>
      <!-- Form item 1.1: USERNAME -->
      <nz-form-control [nzSpan]="8">
        <nz-input-group [nzSize]="inputSize" nzAddOnBeforeIcon="user">
          <input nz-input formControlName="username" autocomplete="username"
            [placeholder]="'COMMONS.REGISTER.USERNAME' | translate" appAutoFocus tabindex="1" />
        </nz-input-group>
      </nz-form-control>
      <!-- Form item 1.1: DOMAIN -->
      <nz-form-control [nzSpan]="16">
        <nz-input-group [nzSize]="inputSize" nzAddOnBefore="@" nzAddOnAfter="olympus-cloud.com">
          <input nz-input formControlName="domain" autocomplete="organization"
            [placeholder]="'COMMONS.REGISTER.DOMAIN' | translate" tabindex="2" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- Form item 2 email -->
    <nz-form-item>
      <nz-form-control [nzErrorTip]="'COMMONS.REGISTER.EMAIL_ERROR' | translate">
        <nz-input-group [nzSize]="inputSize" nzAddOnBeforeIcon="mail">
          <input nz-input formControlName="email" autocomplete="email"
            [placeholder]="'COMMONS.REGISTER.EMAIL' | translate" tabindex="3" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- Form item 3 phone -- ------------------->
    <nz-form-item>
      <nz-form-control [nzErrorTip]="'COMMONS.REGISTER.PHONE_ERROR' | translate">
        <nz-input-group [nzSize]="inputSize" [nzAddOnBefore]="addOnBeforeTemplate">
          <ng-template #addOnBeforeTemplate>
            <nz-select nzShowSearch formControlName="country" class="phone-select">
              <nz-option *ngFor="let country of countries" [nzLabel]="country.name + ' ' + country.prefix"
                [nzValue]="country">
              </nz-option>
            </nz-select>
          </ng-template>

          <input nz-input formControlName="phoneNumber" autocomplete="tel" tabindex="4"
            [placeholder]="'COMMONS.REGISTER.PHONE' | translate" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <!-- Form item 4 password -->
    <nz-form-item>
      <nz-form-control [nzErrorTip]="'COMMONS.REGISTER.PASSWORD_ERROR' | translate">
        <nz-input-group [nzSize]="inputSize" [nzSuffix]="suffixTemplate" nzAddOnBeforeIcon="lock">
          <input nz-input [type]="passwordVisible ? 'text' : 'password'" formControlName="password"
            autocomplete="new-password" [placeholder]="'COMMONS.REGISTER.PASSWORD' | translate"
            (ngModelChange)="updateConfirmValidator()" tabindex="5" />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible"></i>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <!-- Form item 5 confirm -->
    <nz-form-item>
      <nz-form-control [nzErrorTip]="'COMMONS.REGISTER.PASSWORD2_ERROR' | translate">
        <nz-input-group [nzSize]="inputSize" [nzSuffix]="suffixTemplate" nzAddOnBeforeIcon="lock">
          <input nz-input [type]="passwordVisible ? 'text' : 'password'" formControlName="checkPassword"
            autocomplete="new-password" [placeholder]="'COMMONS.REGISTER.PASSWORD2' | translate" tabindex="6" />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible"></i>
        </ng-template>
      </nz-form-control>
    </nz-form-item>


    <!-- Form item 6: Buttons -->
    <nz-form-item nzType="flex" nzJustify="space-between">
      <nz-form-control>
        <a nz-button nzBlock nzType="link" nzSize="large" tabindex="-1" (click)="CancelRegistration()"
          [routerLink]="['/','commons']">
          {{'COMMONS.REGISTER.LOGIN' | translate}}
        </a>
      </nz-form-control>

      <nz-form-control>
        <button nz-button nzBlock nzType="primary" nzSize="large" [disabled]="disabled" tabindex="7">
          {{'COMMONS.REGISTER.NEXT' | translate}}
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <div style="min-height: 35px;">
    <nz-alert *ngIf="errorMessage" [nzMessage]="errorMessage | translate" nzType="error" nzCloseable></nz-alert>
  </div>
</div>