<div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="22">
        <nz-card style="width: 100%;">
            <nz-tabset nzSize="large">
                <nz-tab nzTitle="{{'ADMIN.APPLICATION.FOR_YOU' | translate}}">
                    <div nz-row [nzGutter]="8">
                        <ng-container *ngIf="applications.length == 0">
                            <nz-empty></nz-empty>
                        </ng-container>
                        <ng-container *ngFor="let application of applications">
                            <div nz-col [nzSpan]="4">
                                <nz-card [nzCover]="coverTemplate" nzHoverable class="fixed"
                                    (click)="openModalPurchase(application)">
                                    <nz-card-meta nzTitle="{{ application.k0872 }}"></nz-card-meta>
                                    <ng-template #coverTemplate>
                                        <img alt="example" src=" {{ application.k0880 }}" />
                                    </ng-template>
                                </nz-card>
                            </div>
                        </ng-container>
                    </div>
                </nz-tab>
                <nz-tab nzTitle="{{'ADMIN.APPLICATION.BEST_SELLERS' | translate}}">
                    test2
                </nz-tab>
                <nz-tab nzTitle="Categorias">
                    test3
                </nz-tab>
            </nz-tabset>
        </nz-card>
    </div>
</div>

<nz-modal [(nzVisible)]="isVisible" nzWidth="50%" nzTitle="<h2>{{'ADMIN.APPLICATION.BUY_APPLICATION' | translate}}</h2>" (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading" [nzCancelText]="'ADMIN.MODAL_CANCEL_TEXT' | translate"
    [nzOkText]="'ADMIN.MODAL_BUY_TEXT' | translate">
    <nz-card class="fixed" [nzBordered]="false">
        <div nz-row>
            <div nz-col [nzSpan]="12">
                <label style="font-weight: bolder;">Aplicación: </label>
                <label>{{modalData.k0872}}</label>
            </div>
            <div nz-col [nzSpan]="12">
                <label>Versión: </label>
                <label>{{modalData.k0874}}</label>
            </div>
        </div>
    </nz-card>
    <!-- <nz-card class="fixed">
        <form nz-form nzLayout="vertical">
            <div nz-row>
                <h2>Paquetes</h2>
            </div>
            <div nz-row>
                <div nz-col [nzSpan]="12">
                    <nz-select nzPlaceHolder="Seleccione un paquete">
                        <nz-option nzValue="paqueteA" nzLabel="paqueteA"></nz-option>
                        <nz-option nzValue="paqueteB" nzLabel="paqueteB"></nz-option>
                        <nz-option nzValue="paqueteC" nzLabel="paqueteC"></nz-option>
                    </nz-select>
                </div>
            </div>
        </form>
    </nz-card> -->
</nz-modal>