<nz-layout>
  <nz-header>
    <div nz-row>
      <div nz-col nzXs="2" nzSm="2" nzMd="2" nzLg="0" nzXl="0" nzXXl="0">
        <i class="trigger"
           nz-icon
           [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
           (click)="isCollapsed = !isCollapsed">
        </i>
      </div>

      <div nz-col nzXs="10" nzSm="14" nzMd="14" nzLg="4" nzXl="3" nzXXl="3">
        <div class="logo" (click)="scroll()"></div>
      </div>
      <div nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="14" nzXl="17" nzXXl="17">
        <app-navigation [direction]="'horizontal'"
                        [isCollapsed]="false"
                        [theme]="'light'"
                        [menuData]="menuData"
                        (clickOnItem)="scroll($event)">
        </app-navigation>
      </div>

      <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="2" nzXl="2" nzXXl="2">
        <!-- <button class="portal-login-button" nz-button nzType="link" (click)="changeLanguage()">
          <i nz-icon nzType="global"></i>
        </button> -->
      </div>

      <div nz-col nzXs="8" nzSm="4" nzMd="4" nzLg="4" nzXl="2" nzXXl="2">
        <!-- <button nz-button
                class="portal-login-button"
                nzType="link"
                routerLink="/commons">
          {{ 'PRINCIPAL.LOGIN' | translate }}
          <i nz-icon nzType="login"></i>
        </button> -->

        <button nz-button nzType="primary" nzShape="round" routerLink="/commons">
          <i nz-icon nzType="login"></i>{{ 'PRINCIPAL.LOGIN' | translate }}
        </button>
      </div>


    </div>
  </nz-header>
  <nz-layout>
    <nz-sider nzCollapsible
              [nzCollapsedWidth]="0"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
      <app-navigation [direction]="'vertical'"
                      [isCollapsed]="isCollapsed"
                      [theme]="'dark'"
                      [menuData]="menuData"
                      (clickOnItem)="scroll($event)">
      </app-navigation>
    </nz-sider>
    <nz-content>
      <!--      <perfect-scrollbar fxFlex="auto" [config]="config"-->
      <!--                         [scrollIndicators]="true">-->
      <div class="scrollable-content">
        <div id="portal-welcome" class="scrollable-section">
          <app-welcome></app-welcome>
        </div>
        <div id="portal-customers" class="scrollable-section">
          <app-customers></app-customers>
        </div>
        <div id="portal-products" class="scrollable-section">
          <app-products></app-products>
        </div>
        <div id="portal-prices" class="scrollable-section">
          <app-prices></app-prices>
        </div>
        <div id="portal-community" class="scrollable-section">
          <app-community></app-community>
        </div>
        <div id="portal-footer" class="scrollable-section">
          <app-footer></app-footer>
        </div>
        <!--        <div class="temp-content">-->
        <!--          <div nz-row>-->
        <!--            <div nz-col [nzXs]="24" [nzSm]="0" [nzMd]="0" [nzXl]="0" [nzXXl]="0">XS</div>-->
        <!--            <div nz-col [nzXs]="0" [nzSm]="24" [nzMd]="0" [nzXl]="0" [nzXXl]="0">SM</div>-->
        <!--            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="24" [nzXl]="0" [nzXXl]="0">MD</div>-->
        <!--            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzXl]="24" [nzXXl]="0">XL</div>-->
        <!--            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzXl]="0" [nzXXl]="24">XXL</div>-->
        <!--          </div>-->
        <!--        </div>-->
      </div>
      <!--      </perfect-scrollbar>-->
    </nz-content>
  </nz-layout>
</nz-layout>

