<div class="cntm-common-register-container">
  <h3>{{ 'COMMONS.PASSWORD.TITLE' | translate }}</h3>
  <!--  <h4>{{ (username + '@' + domain + '.olympus-cloud.com') | lowercase }}</h4>-->
  <h4>{{ 'COMMONS.PASSWORD.SUBTITLE' | translate }}</h4>
</div>
<div>
  <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-tag nzMode="closeable" [nzColor]="''" (nzOnClose)="back()">
        {{ (username + '@' + domain + '.olympus-cloud.com : ') | lowercase }}
      </nz-tag>
    </nz-form-item>
    <!-- Form item 3 password -->
    <nz-form-item>
      <nz-form-control [nzErrorTip]="'COMMONS.PASSWORD.PASSWORD_ERROR' | translate">
        <nz-input-group [nzSize]="inputSize" [nzSuffix]="suffixTemplate" nzAddOnBeforeIcon="lock">
          <input appAutoFocus nz-input [type]="passwordVisible ? 'text' : 'password'"
                 formControlName="password" autocomplete="new-password"
                 [placeholder]="'COMMONS.PASSWORD.PASSWORD' | translate"/>
        </nz-input-group>
        <ng-template #suffixTemplate>
          <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
             (click)="passwordVisible = !passwordVisible"></i>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!-- Form item 3: Buttons -->
    <nz-form-item nzType="flex" nzJustify="space-between">
      <nz-form-control>
        <a nz-button nzBlock
           nzType="link"
           nzSize="large"
           tabindex="-1"
           [routerLink]="['/','commons', 'forgot']">
          {{'COMMONS.PASSWORD.FORGOT' | translate}}
        </a>
      </nz-form-control>

      <nz-form-control>
        <button nz-button nzBlock
                nzType="primary"
                nzSize="large"
                [disabled]="disabled">
          {{'COMMONS.PASSWORD.NEXT' | translate}}
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <div style="min-height: 35px;">
    <nz-alert *ngIf="errorMessage"
              [nzMessage]="errorMessage | translate"
              nzType="error"
              nzCloseable
    ></nz-alert>
  </div>
</div>
