nz-card {
    border-color: rgba(0, 0, 0, 0.30) !important;
    border-radius: 10px;
    margin-bottom: 10px;
}

[nzHoverable] {
    cursor: auto;
    &:hover {   
        box-shadow:5px 10px 8px #888888;
    }
}

[nz-input] {
    &:hover {
        color: black;
        background: lightgray;
    }
}

i, a{
    font-size: 20px;
}

nz-divider {
    color: rgba(0, 0, 0, 0.70);
}

.ant-divider-horizontal.ant-divider-with-text-center,
.ant-divider-horizontal.ant-divider-with-text-left,
.ant-divider-horizontal.ant-divider-with-text-right {
    color: rgba(0, 0, 0, 0.70);
}

.ant-divider-horizontal.ant-divider-with-text-center::before,
.ant-divider-horizontal.ant-divider-with-text-left::before,
.ant-divider-horizontal.ant-divider-with-text-right::before,
.ant-divider-horizontal.ant-divider-with-text-center::after,
.ant-divider-horizontal.ant-divider-with-text-left::after,
.ant-divider-horizontal.ant-divider-with-text-right::after {
    border-top: 1px solid rgba(0, 0, 0, 0.30);
}