<div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="22">
        <nz-card style="width:100%;">
            <nz-divider nzText="{{'ADMIN.CONFIGURATION.APPLICATIONS' | translate}}" nzOrientation="left"></nz-divider>
            <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="center" nzType="flex">
                <div nz-col [nzSpan]="22">
                    <ng-container *ngFor="let application of applications">
                        <nz-divider nzText="{{application.k0872}}" nzOrientation="left"></nz-divider>
                        <nz-card style="width:100%;">
                            <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
                                <nz-tab [nzTitle]="titleComponentsTemplate">
                                    <div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center"
                                        nzType="flex">
                                        <div nz-col [nzSpan]="22">
                                            <div nz-row>
                                                <ng-container *ngFor="let component of application.components">
                                                    <nz-divider nzText="{{component.c7052}}" nzOrientation="left">
                                                    </nz-divider>
                                                    <div nz-row style="margin-bottom: 8px;" nzAlign="middle"
                                                        nzJustify="center" nzType="flex">
                                                        <div nz-col [nzSpan]="9">
                                                            {{'ADMIN.CONFIGURATION.COMPONENT_STATUS' | translate}}
                                                        </div>
                                                        <ng-container *ngIf="component.c7053 === true">
                                                            <div nz-col [nzSpan]="9" style="color: green">
                                                                {{'ADMIN.LABEL_ENABLE' | translate}} &nbsp;
                                                                <button nz-button nzType="link"
                                                                    (click)="changeComponentStatus(component)">
                                                                    <i nz-icon nzType="check" nzTheme="outline"
                                                                        style="color: green"></i>
                                                                </button>
                                                            </div>
                                                        </ng-container>
                                                        <ng-container *ngIf="component.c7053 === false">
                                                            <div nz-col [nzSpan]="9" style="color: red">
                                                                {{'ADMIN.LABEL_DISABLE' | translate}} &nbsp;
                                                                <button nz-button nzType="link"
                                                                    (click)="changeComponentStatus(component)">
                                                                    <i nz-icon nzType="close" nzTheme="outline"
                                                                        style="color: red"></i>
                                                                </button>
                                                            </div>
                                                        </ng-container>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </nz-tab>
                                <nz-tab [nzTitle]="titleInstancesTemplate">
                                    <div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center"
                                        nzType="flex">
                                        <div nz-col [nzSpan]="22">
                                            <div nz-row>
                                                <ng-container
                                                    *ngFor="let instance of application.instances; let i = index">
                                                    <nz-divider nzText="{{application.k0872}} {{i+1}}"
                                                        nzOrientation="left">
                                                    </nz-divider>
                                                    <div nz-row style="margin-bottom: 8px;" nzAlign="middle"
                                                        nzJustify="center" nzType="flex">
                                                        <div nz-col [nzSpan]="9">
                                                            {{'ADMIN.LABEL_URL' | translate}}
                                                        </div>
                                                        <div nz-col [nzSpan]="9">
                                                            {{instance.i7072}}
                                                        </div>
                                                    </div>
                                                    <div nz-row style="margin-bottom: 8px;" nzAlign="middle"
                                                        nzJustify="center" nzType="flex">
                                                        <div nz-col [nzSpan]="9">
                                                            {{'ADMIN.LABEL_PORT' | translate}}
                                                        </div>
                                                        <div nz-col [nzSpan]="9">
                                                            {{instance.i7073}}
                                                        </div>

                                                    </div>
                                                    <div nz-row style="margin-bottom: 8px;" nzAlign="middle"
                                                        nzJustify="center" nzType="flex">
                                                        <div nz-col [nzSpan]="9">
                                                            {{'ADMIN.LABEL_STATUS' | translate}}
                                                        </div>
                                                        <ng-container *ngIf="instance.i7074 === true">
                                                            <div nz-col [nzSpan]="9">
                                                                <i nz-icon nzType="fire" nzTheme="fill"
                                                                    style="color: green"></i>
                                                            </div>
                                                        </ng-container>
                                                        <ng-container *ngIf="instance.i7074 === false">
                                                            <div nz-col [nzSpan]="9">
                                                                <i nz-icon nzType="fire" nzTheme="fill"
                                                                    style="color: red"></i>
                                                            </div>
                                                        </ng-container>
                                                    </div>
                                                    <div nz-row style="margin-bottom: 8px;" nzAlign="middle"
                                                        nzJustify="center" nzType="flex">
                                                        <div nz-col [nzSpan]="9">
                                                            {{'ADMIN.LABEL_INSTANCE_CLIENTS' | translate}}
                                                        </div>
                                                        <div nz-col [nzSpan]="9">
                                                            {{instance.i7075}}
                                                        </div>

                                                    </div>
                                                    <div nz-row style="margin-bottom: 8px;" nzAlign="middle"
                                                        nzJustify="center" nzType="flex">
                                                        <div nz-col [nzSpan]="9">
                                                            {{'ADMIN.LABEL_INSTANCE_DBUSER' | translate}}
                                                        </div>
                                                        <div nz-col [nzSpan]="9">
                                                            {{instance.i7076}}
                                                        </div>

                                                    </div>
                                                    <div nz-row style="margin-bottom: 8px;" nzAlign="middle"
                                                        nzJustify="center" nzType="flex">
                                                        <div nz-col [nzSpan]="9">
                                                            {{'ADMIN.LABEL_INSTANCE_DBPASSWORD' | translate}}
                                                        </div>
                                                        <div nz-col [nzSpan]="9">
                                                            {{instance.i7077}}
                                                        </div>

                                                    </div>
                                                    <div nz-row style="margin-bottom: 8px;" nzAlign="middle"
                                                        nzJustify="end" nzType="flex">
                                                        <button nz-button nzType="primary" class="secondary"
                                                            (click)="editInstance(instance)">{{'ADMIN.BUTTON_EDIT' | translate}}
                                                            <i nz-icon [nzType]="'edit'"></i>
                                                        </button>
                                                    </div>
                                                </ng-container>
                                            </div>
                                            <nz-divider nzText=" "></nz-divider>
                                            <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="end" nzType="flex">
                                                <button nz-button nzType="primary" class="primary"
                                                    (click)="createInstance(application)">{{'ADMIN.BUTTON_ADD_INSTANCE' | translate}}
                                                    <i nz-icon [nzType]="'plus'"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </nz-tab>
                            </nz-tabset>
                        </nz-card>
                    </ng-container>
                </div>
            </div>
        </nz-card>
    </div>
</div>

<ng-template #titleComponentsTemplate>
    <nz-card-meta nzTitle="{{'ADMIN.CONFIGURATION.COMPONENTS' | translate}}" [nzAvatar]="avatarTemplate">
    </nz-card-meta>
</ng-template>

<ng-template #titleInstancesTemplate>
    <nz-card-meta nzTitle="{{'ADMIN.CONFIGURATION.INSTANCES' | translate}}" [nzAvatar]="avatarTemplate">
    </nz-card-meta>
</ng-template>

<ng-template #avatarTemplate>
    <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
</ng-template>

<nz-modal [(nzVisible)]="isVisible" nzWidth="50%" nzTitle="<h2>{{ modalTitle | translate}}</h2>"
    (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading" [nzOkDisabled]="instanceForm.invalid"
    [nzCancelText]="'ADMIN.MODAL_CANCEL_TEXT' | translate" [nzOkText]="'ADMIN.BUTTON_SAVE' | translate">
    <nz-card class="fixed" [nzBordered]="false">
        <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="center" nzType="flex">
            <div nz-col [nzSpan]="22">
                <form nz-form nzLayout="vertical" [formGroup]="instanceForm">
                    <div nz-row nzAlign="middle" nzJustify="space-between" nzType="flex">
                        <div nz-col [nzSpan]="11">
                            <nz-form-item>
                                <nz-form-label>{{'ADMIN.LABEL_URL' | translate}}
                                </nz-form-label>
                                <nz-form-control>
                                    <input nz-input formControlName="url"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col [nzSpan]="11">
                            <nz-form-item>
                                <nz-form-label>{{'ADMIN.LABEL_PORT' | translate}}
                                </nz-form-label>
                                <nz-form-control>
                                    <input nz-input formControlName="port"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div nz-row nzAlign="middle" nzJustify="space-between" nzType="flex">
                        <div nz-col [nzSpan]="11">
                            <nz-form-item>
                                <nz-form-label>{{'ADMIN.LABEL_INSTANCE_DBUSER' | translate}}
                                </nz-form-label>
                                <nz-form-control>
                                    <input nz-input formControlName="dbuser"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col [nzSpan]="11">
                            <nz-form-item>
                                <nz-form-label>{{'ADMIN.LABEL_INSTANCE_DBPASSWORD' | translate}}
                                </nz-form-label>
                                <nz-form-control>
                                    <input nz-input type="password" formControlName="dbpass"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div nz-row nzAlign="middle" nzJustify="space-between" nzType="flex">
                        <div nz-col [nzSpan]="11">
                            <nz-form-item>
                                <nz-form-label>{{'ADMIN.LABEL_STATE' | translate}}
                                </nz-form-label>
                                <nz-form-control>
                                    <input nz-input formControlName="state"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nz-card>
</nz-modal>