<div class="admin-container">
    <nz-layout class="admin-content">
        <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
            <div class="logo" [ngClass]="isCollapsed?'logo-collapsed':'logo-expanded'"></div>
            <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
                <ng-container *ngFor="let item of menuItems">
                    <ng-container *ngIf="item.type === menuTypes.MENU">
                        <li nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="isCollapsed ? (item.label | translate) : ''">
                            <i nz-icon nzType="{{ item.icon }}"></i>
                            <span>
                                <a href="javascript:;" [routerLink]="[item.url]"
                                    style="color: white;">{{ item.label | translate }}</a>
                            </span>
                        </li>
                    </ng-container>
                    <ng-container *ngIf="item.type === menuTypes.SUBMENU">
                        <li nz-submenu nzTitle="{{ item.label | translate }}" nzIcon="{{ item.icon }}">
                            <ul>
                                <ng-container *ngFor="let children of item.childrens">
                                    <li nz-menu-item>
                                        <a href="javascript:;" [routerLink]="[children.url]">{{ children.label | translate }}</a>
                                    </li>
                                </ng-container>
                            </ul>
                        </li>
                    </ng-container>
                </ng-container>
            </ul>
        </nz-sider>
        <nz-layout>
            <nz-header>
                <div style="display: flex;  justify-content:space-between; align-items:center;">
                    <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                        (click)="isCollapsed = !isCollapsed">
                    </i>
                    <div>
                        <nz-select nzShowSearch [(ngModel)]="selectedLanguage" (ngModelChange)="changeLanguage()" style="margin: 10px;">
                            <nz-option nzCustomContent nzLabel="{{'ADMIN.LANGUAGE_SPANISH' | translate}}" nzValue="es"><i
                                    nz-icon nzType="flag"></i> {{'ADMIN.LANGUAGE_SPANISH' | translate}}
                            </nz-option>
                            <nz-option nzCustomContent nzLabel="{{'ADMIN.LANGUAGE_ENGLISH' | translate}}" nzValue="en"><i
                                    nz-icon nzType="flag"></i> {{'ADMIN.LANGUAGE_ENGLISH' | translate}}
                            </nz-option>
                        </nz-select>
                        <nz-avatar nzIcon="user" style="background-color:#004193; margin-right: 10px;"
                            (click)="changeLanguage()"></nz-avatar>
                        <nz-avatar nzIcon="logout"
                            style="background-color: #ff4d4f; margin-right: 10px; cursor: pointer;" (click)="logout()">
                        </nz-avatar>
                    </div>
                </div>
            </nz-header>
            <nz-content>
                <nz-breadcrumb>
                    <nz-breadcrumb-item></nz-breadcrumb-item>
                </nz-breadcrumb>
                <router-outlet></router-outlet>
                <!-- <nz-card style="width: 300px;margin-top: 16px" *ngIf="user">
                        <nz-card-meta [nzAvatar]="avatarTemplate" [nzTitle]="user.displayName"
                            [nzDescription]="user.phoneNumber">
                        </nz-card-meta>
                        <nz-tag *ngIf="user.emailVerified" [nzColor]="'green'">Email verificado</nz-tag>
                        <nz-tag *ngIf="!user.emailVerified" [nzColor]="'red'">Email no verificado</nz-tag>
                        <ng-template #avatarTemplate>
                            <nz-avatar [nzShape]="'square'" [nzSize]="64" [nzIcon]="'user'"></nz-avatar>
                        </ng-template>
                    </nz-card> -->

            </nz-content>
            <nz-footer>©2019 Olympus-cloud</nz-footer>
        </nz-layout>
    </nz-layout>
</div>

<!-- <li nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="isCollapsed ? 'Home' : ''">
    <i nz-icon nzType="mail"></i>
    <span><a href="javascript:;" [routerLink]="['/admin/home']" style="color: white;">Home</a></span>
</li>
<li nz-submenu nzTitle="Usuarios" nzIcon="user">
    <ul>
        <li nz-menu-item><a href="javascript:;" [routerLink]="['/admin/users']">Usuarios Activos</a>
        </li>
    </ul>
</li>
<li nz-submenu nzTitle="Facturación" nzIcon="credit-card">
    <ul>
        <li nz-menu-item><a href="javascript:;" [routerLink]="['/admin/billing/shopping']">Comprar
                Aplicaciones</a>
        </li>
        <li nz-menu-item><a href="javascript:;" [routerLink]="['/admin/billing/applications']">Aplicaciones Activas</a>
        </li>
        <li nz-menu-item><a href="javascript:;" [routerLink]="['/admin/billing/payments']">Recibos y
                Pagos</a>
        </li>
    </ul>
</li>
<li nz-submenu nzTitle="Soporte" nzIcon="team">
    <ul>
        <li nz-menu-item><a href="javascript:;" [routerLink]="['/admin/support/generaterequeriments']">Generar
                Requerimiento</a>
        </li>
        <li nz-menu-item><a href="javascript:;" [routerLink]="['/admin/support/requests']">Mis
                Requerimientos</a>
        </li>
    </ul>
</li>
<li nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="isCollapsed ? 'Setup' : ''">
    <i nz-icon nzType="setting"></i>
    <span><a href="javascript:;" [routerLink]="['/admin/setup']" style="color: white;">Setup</a></span>
</li>
<li nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="isCollapsed ? 'Detalles de la Cuenta' : ''">
    <i nz-icon nzType="file"></i>
    <span><a href="javascript:;" [routerLink]="['/admin/account']" style="color: white;">Detalles de la
            Cuenta</a></span>
</li> -->