.admin-container {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  //background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo {
  background-image: url("../../assets/img/portal/logo-bw.png");
  background-repeat: no-repeat;
  background-position: left center;
  height: 64px;
  cursor: pointer;
}
.logo-expanded {
  background-size: 110px;
  margin-left: 30px;
}

.logo-collapsed {
  background-size: 62px;
  margin-left: 2px;
}

.admin-content{
  height: 100%;
  width: 100%;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

//.logo {
//  height: 32px;
//  background: rgba(255, 255, 255, 0.2);
//  margin: 16px;
//}

nz-header {
  background: #fff;
  padding-right: 60px;
  padding-left: 0px;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  //min-height: 360px;
}

nz-footer {
  text-align: center;
}

nz-select {
  width: 100px;
}
