<div class="products-container" >
  <div class="headline">
    <p class="title">{{ 'PRINCIPAL.PRODUCTS.TITLE' | translate }}</p>
    <p class="subtitle">{{ 'PRINCIPAL.PRODUCTS.SUBTITLE' | translate }}</p>
  </div>
  <div class="flex-container wrap">
    <div class="flex-item" *ngFor="let item of data">
      <img class="products-image" [src]="item.source" alt=""/>
    </div>
  </div>
</div>
