.products-container {
  min-width: 100vw;
  margin: 0;
  padding: 0;
  background-color: rgb(219, 224, 230);
  display: flex;
  flex-direction: column;
}

.headline {
  min-width: 100%;
  text-align: center;
  padding-top: calc((100vh - 64px) / 16);
  padding-bottom: 0;
}

.headline p.title {
  font-size: 2em;
  color: rgb(0, 65, 147);
  margin-bottom: 5px;
}

.headline p.subtitle {
  font-size: 1.5em;
  color: rgb(0, 51, 66);
  margin-bottom: 5px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
  justify-content: center;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  //
  flex: 1;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-item {
  padding: 5px;
  margin: 10px;
}

.products-image {
}

@media (min-width: 481px) {
  .products-container {
    min-height: calc((100vh - 64px) / 2);
  }
  .flex-item {
    width: 146px;
    height: 150px;
  }
  .products-image {
    width: 146px;
    height: 150px;
  }
}

@media (max-width: 480px) {
  .products-container {
    min-height: calc((100vh - 64px));
  }
  .flex-item {
    width: 130px;
    height: 133px;
  }
  .products-image {
    width: 130px;
    height: 133px;
  }
}
