<div class="cntm-commons-container ccc-image">

  <div class="cntm-commons-main-content">
    <nz-card class="cntm-commons-card">
      <div class="logo"></div>
      <router-outlet></router-outlet>
    </nz-card>
  </div>

  <div class="footer">
    <a (click)="changeLanguage()"><i nz-icon nzType="global" nzTheme="outline"></i></a>
    <a>Ayuda</a>
    <a>Privacidad</a>
    <a>Condiciones</a>
  </div>
  
</div>

