<p>home works!</p>
<!-- <button (click)="getConsole()">Console</button> -->
<!-- <button (click)="createApplication()">CreateApplication</button> -->
<!-- <button (click)="createComponent()">CreateComponent</button> -->
