.footer-container {
  min-width: 100vw;
  margin: 0;
  padding: 20px 0 0;
  background-color: #001529;
  display: flex;
  flex-direction: column;
  color: white;
}

[nz-icon] {
  margin: 10px;
  padding: 0;
}


.footer-logo {
  background-image: url("../../../../assets/img/portal/logo-bw.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 150px;
  margin-left: 0;
  height: 64px;
  cursor: pointer;
}

.footer-copyright, .footer-made-in{
  font-size: 1em;
  color: lightgray;
}

@media (min-width: 481px) {
  .footer-container {
    min-height: calc((100vh - 64px) / 2);
  }
}

@media (max-width: 480px) {
  .footer-container {
    min-height: calc((100vh - 64px));
  }
}
