.community-container {
  min-width: 100vw;
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  //
  background-image: url('../../../../assets/img/portal/b-1-welcome.png');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  //
  background-attachment: fixed;
}

.community-buttons {
  flex: 1;
}

.headline {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.headline div.title {
  font-size: 2em;
  color: #fff;
}

@media (min-width: 481px) {
  .community-container {
    min-height: calc((100vh - 64px) / 2);
  }
}

@media (max-width: 480px) {
  .community-container {
    min-height: calc((100vh - 64px));
  }
}
