.welcome-content {
  background-image: url('../../../../assets/img/portal/b-1-welcome.png');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;

  // -webkit-transition: all 1s ease-out;
  // -moz-transition: all 1s ease-out;
  // -ms-transition: all 1s ease-out;
  // -o-transition: all 1s ease-out;
  //

  display: flex;
  flex-direction: column;
}

[nz-carousel-content] {
  height: 100%;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  //color: #fff;
  overflow: hidden;
}

@media (min-width: 481px) {
  .welcome-content {
    min-height: calc((100vh - 64px) / 2);
  }
}

@media (max-width: 480px) {
  .welcome-content {
    min-height: calc((100vh - 64px));
  }
}

.headline {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headline div.title {
  font-size: 2em;
  color: #fff;
}

.welcome-login-card {
  border-radius: .5em;
  margin: 20px;
}

@media (max-width: 480px) {
  .welcome-login-card {
    min-height: calc((100vh - 64px));
    margin: 0;
  }
}

.welcome-login-form-item {
  margin: 12px;
}

.welcome-login-form-button {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.welcome-login-forgot-button {
  text-align: left;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.welcome-login-error {
  color: rgb(217, 48, 37);
  font-size: 12px;
}