<div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="22">
        <nz-card style="width: 100%;">
            <nz-tabset nzSize="large">
                <nz-tab [nzTitle]="'ADMIN.APPLICATION.MY_APPLICATIONS' | translate">
                    <div nz-row [nzGutter]="8">
                        <ng-container *ngIf="!listAppSubscription">
                            <nz-empty></nz-empty>
                        </ng-container>
                        <ng-container *ngFor="let appSubscription of listAppSubscription">
                            <div nz-col [nzSpan]="4">
                                <nz-card [nzCover]="coverTemplate" nzHoverable class="fixed"
                                    (click)="applicationDetail(appSubscription)">
                                    <nz-card-meta nzTitle="{{ appSubscription.k0872 }}"></nz-card-meta>
                                    <ng-template #coverTemplate>
                                        <img alt="example" src="{{ appSubscription.k0880 }}" />
                                    </ng-template>
                                </nz-card>
                            </div>
                        </ng-container>
                    </div>
                </nz-tab>
                <nz-tab nzTitle="Otra Pestaña">
                    test2
                </nz-tab>
                <nz-tab nzTitle="Otra Pestaña Mas">
                    test3
                </nz-tab>
            </nz-tabset>
        </nz-card>
    </div>
</div>