.customers-container {
  min-width: 100vw;
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.headline {
  min-width: 100%;
  text-align: center;
  padding-top: calc((100vh - 64px) / 16);
  padding-bottom: 0;
}

.headline p {
  font-size: 2em;
  color: rgb(0, 65, 147);
  margin-bottom: 0;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
  justify-content: center;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  //
  flex: 1;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-item {
  padding: 5px;
  margin: 10px;
}

.customers-image {
}

@media (min-width: 481px) {
  .customers-container {
    min-height: calc((100vh - 64px) / 2);
  }
  .flex-item {
    width: 165px;
    height: 50px;
  }
  .customers-image {
    width: 165px;
    height: 50px;
  }
}

@media (max-width: 480px) {
  .customers-container {
    min-height: calc((100vh - 64px));
  }
  .flex-item {
    width: 110px;
    height: 33px;
  }
  .customers-image {
    width: 110px;
    height: 33px;
  }
}
