<div class="customers-container">
  <div class="headline">
    <p>{{ 'PRINCIPAL.CUSTOMERS.TITLE' | translate }}</p>
  </div>
  <div class="flex-container wrap">
    <div class="flex-item" *ngFor="let item of data">
      <img class="customers-image" [src]="item.source" alt=""/>
    </div>
  </div>
</div>
