<ul nz-menu class="navigation-container"
    [nzTheme]="theme"
    [nzMode]="direction"
    [nzInlineCollapsed]="isCollapsed"
    [nzSelectable]="true"
    [ngClass]="direction === 'horizontal'?'navigation-horizontal':''">
  <ng-container *ngFor="let menuItem of menuData">
    <li nz-menu-item *ngIf="!menuItem.child" (click)="clickOnItem.emit(menuItem.elementId)">
      <span>{{menuItem.title}}</span>
    </li>
    <li nz-submenu [nzTitle]="menuItem.title" [nzIcon]="''" *ngIf="menuItem.child">
      <ul>
        <li nz-menu-item *ngFor="let subItem of menuItem.child" (click)="clickOnItem.emit(subItem.elementId)">
          <span>{{subItem.title}}</span>
        </li>
      </ul>
    </li>
  </ng-container>
</ul>
