html,
body {
  min-height: 100vh;
  line-height: normal;
  // font-family: 'Helvetica Neue', Roboto;
  // font-family: 'Google Sans', Roboto, 'Helvetica Neue', Arial, sans-serif;
  // font-family: Roboto, Arial, sans-serif;
  font-size: 100%;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; // added for IE/Edge 2406
}


/* COMMON REGISTER STYLE */
.cntm-common-register-container {
  width: 100%;

  h3 {
    text-align: center;
    margin-bottom: 8px;
    color: #202124;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
  }

  h4 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 24px;
    color: rgb(32, 33, 36);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 1.5;
  }
}

button.danger {
  background-color: #ff4d4f;
  color: white;
  border-color: #ff4d4f;
}

button.danger:hover, button.danger:focus {
  background-color: #f83034;
  color: white;
  border-color: #f83034;
}

button.secondary {
  background-color: #4a4d50;
  color: white;
  border-color: #4a4d50; 
}

button.secondary:hover, button.secondary:focus{
  background-color: #6c757d;
  color: white;
  border-color: #6c757d; 
}

button.info {
  background-color: #17a268;
  color: white;
  border-color: #17a268;
}

button.succes {
  background-color: #28a745;
  color: white;
  border-color: #28a745;
}