.prices-container {
  min-width: 100vw;
  //min-height: calc((100vh - 64px) / 2);
  margin: 0;
  padding: 0;
  background-color: white;
}

.headline {
  min-width: 100%;
  text-align: center;
  padding-top: 20px;
}

.headline p.title {
  font-size: 2em;
  color: rgb(0, 65, 147);
  margin-bottom: 5px;
}

.headline p.subtitle {
  font-size: 1.5em;
  color: rgb(0, 51, 66);
  margin-bottom: 5px;
}

.prices-card {
}

.prices-card-content {
}

[nz-icon] {
  margin-right: 6px;
  font-size: 24px;
}
@media (min-width: 1200px) {
  .prices-container {
    min-height: calc((100vh - 64px) / 2);
  }
  .prices-card-content {
    font-size: 1.4em;
  }
  .prices-card {
    min-height: 250px;
    margin: 5px;
  }
}

@media (min-width: 481px) and (max-width: 1199px) {
  .prices-container {
    min-height: calc((100vh - 64px) / 2);
  }
  .prices-card-content {
    font-size: 1.0em;
  }
  .prices-card {
    min-height: 230px;
    margin: 5px;
  }
}

@media (max-width: 480px) {
  .prices-container {
    min-height: calc((100vh - 64px));
  }
  .prices-card-content {
    font-size: 1.0em;
  }
  .prices-card {
  }
}
