<div class="prices-container">
  <div class="headline">
    <p class="title">{{ 'PRINCIPAL.PRICES.TITLE' | translate }}</p>
  </div>
  <nz-list [nzDataSource]="data" [nzRenderItem]="item" [nzGrid]="{ gutter: 0, xs: 24, sm: 24, md: 8, lg: 8, xl: 8 }">
    <ng-template #item let-item>
      <nz-list-item [nzContent]="nzContent">
        <ng-template #nzContent>
          <nz-card [nzTitle]="item.title | translate"
                   [nzExtra]="extraTemplate"
                   [nzBodyStyle]="{ margin: '4px', padding: '4px' }"
                   class="prices-card">
            <nz-card-meta nzTitle=""
                          [nzAvatar]="avatarTemplate"
                          [nzDescription]="item.content | translate"
                          class="prices-card-content">

            </nz-card-meta>
          </nz-card>
          <ng-template #avatarTemplate>
            <i nz-icon [nzType]="item.icon" nzTheme="twotone"></i>
          </ng-template>
          <ng-template #extraTemplate>
            <a [href]="item.ref" target="_blank">{{ 'PRINCIPAL.PRICES.MORE' | translate }}</a>
          </ng-template>
        </ng-template>
      </nz-list-item>
    </ng-template>
  </nz-list>
</div>
